body {
	letter-spacing: 1px;
}
@font-face {
	font-family: "supercell"; /* Choose a name for your font */
	src: url("./supercell-magic.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
#root {
	padding: 1em;
}

option {
	background-color: var(--chakra-colors-gray-800) !important;
	border: none !important;
	border-radius: none !important;
}
