.board {
	display: flex;
	padding: 32px;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	max-width: min-content;

	border-radius: 32px;
	border: 1px solid var(--gray-400, #a0aec0);
}
@media (max-width: 768px) {
	.board {
		padding: 0;
		padding-top: 32px;
	}
}
