.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px 0;
}

.clansPage {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;
	align-items: center;
	justify-items: center;
	width: 80%;
}
@media (max-width: 768px) {
	.clansPage {
		grid-template-columns: 1fr;
		width: 100%;
		gap: 16px;
	}
}
