.config {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.configBoard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: center;
  font-size: 24px;
}

.header > :nth-child(-n + 3) {
  width: 168px;
}

.header > :nth-child(4) {
  width: 128px;
}

.header > :nth-child(5) {
  width: 64px;
}

.configForm {
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-direction: row;
  gap: 64px;
  width: 100%;
  margin-block: 1em;
  align-items: center;
}
