.config {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.configBoard {
  margin-top: 1emn;
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 1em;
}

.header {
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 64px;
  text-align: left;
  align-items: center;
  word-wrap: break-word;
  margin-top: 1em;
}

.configForm {
  display: flex;
  flex-direction: row;
  gap: 64px;
  width: 90%;
  margin-block: 1em;
}
