@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=New+Rocker&family=Ubuntu:wght@300&display=swap");

.main {
	/* for the footer to always stay in the bottom */
	margin-top: 1em;
	bottom: 0;
	padding: 16px 128px;
}

.companyName {
	font-family: "Zen Tokyo Zoo", system-ui;
	color: #50cbff;
}
.creator {
	color: rgb(255, 255, 255);
	font-weight: 600;
}

.links {
	text-decoration: underline;
}

.links:hover {
	color: #0070f3;
	cursor: pointer;
}
.GHIcon {
	opacity: 0.5;
	transition: opacity 0.4s ease-in-out;
}

.GHIcon:hover {
	opacity: 1;
}
.specialThanks {
	color: rgba(255, 255, 255, 0.473);
	font-size: 14px;
}
.specialThanks,
.creator {
	font-family: "Ubuntu";
	letter-spacing: -0.01em;
}
@media (max-width: 767px) {
	.main {
		padding: 16px 12px;
		font-size: 10px;
	}
	.creator {
		font-size: 11px;
	}
	.specialThanks {
		font-size: 10px;
	}
	.creator,
	.specialThanks {
		letter-spacing: 0.01em;
	}
}
