/* top score: */
.mainScore {
	border-radius: 16px;
	padding: 32px;
	border: 1px solid #000;
	background: var(--gray-800, #1a202c);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;
}

.logo {
	font-size: 24px;
}

.mainScoreTitle {
	font-size: 24px;
	display: grid;
	grid-template-columns: 2fr auto 2fr;
	align-items: center;
	justify-content: center;
	gap: 22px;
	text-align: center;
}

.name {
	flex: 2;
}
.score {
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 5px;
	flex: 1;
}

.score > * {
	width: 75px;
}

/* remaining scoreboard */

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.board {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	position: relative;
	top: -90px;
	z-index: -2;

	border-radius: 16px;
}

.sb1,
.sb2 {
	display: flex;
	padding: 96px 26px 16px 26px;
	flex-direction: column;

	align-items: flex-start;

	align-self: stretch;
	width: 418px;
	height: inherit;

	border-radius: 16px 0px 0px 16px;
	border: 1px solid #000;
}

.sb2 {
	border-radius: 0px 16px 16px 0px;
}

.RG {
	background: var(--red-900, #63171b);
}
.PP {
	background: var(--purple-800, #44337a);
}
.BW {
	background: var(--blue-900, #304262);
}
.YB {
	background: var(--yellow-900, #6d441c);
}

.death {
	background: linear-gradient(176deg, #fff -30.47%, #000 176.58%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 16px;
	width: 7ch;

	/* -webkit-text-stroke: 0.1px #000; */
	font-weight: 500;
}

.tableHeader,
.tableEntry {
	display: flex;
	padding: 10px 8px;
	justify-content: flex-end;
	align-items: center;
	gap: 32px;
	align-self: stretch;
	text-align: right;

	border-bottom: 1px solid rgb(0, 0, 0, 0.25);
}

.tableHeaderRight > .death {
	text-align: left;
}
.tableHeader.tableHeaderRight {
	justify-content: flex-start;
}
.tableEntryRight {
	justify-content: flex-start;
	text-align: left;
	flex-direction: row-reverse;
	border-bottom: 1px solid rgb(0, 0, 0, 0.25);
}

.points {
	width: 2ch;
}

.tableHeaderRight > .points {
	text-align: left;
}
