.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

/* top score: */
.mainScore {
	border-radius: 16px;
	padding-inline: 32px;
	padding-block: 32px;
	z-index: 1;

	border: 1px solid #000;
	background: var(--gray-800, #1a202c);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: space-around;
	align-items: center;
}

.logo {
	font-size: 24px;
}

/* light shine */

.mainScoreTitle {
	font-size: 24px;
	display: grid;
	grid-template-columns: 2fr auto 2fr;
	align-items: center;
	justify-content: center;
	gap: 22px;
	text-align: center;
}

.highlighted {
	background-color: red !important;
}
.name {
	flex: 2;
}
.score {
	font-size: 36px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	gap: 15px;
	flex: 1;
}

.score > * {
	display: flex;
	width: 3ch;
}
.score > :nth-child(1) {
	justify-content: flex-end;
}
.score > :nth-child(2) {
	width: auto;
}
.score > :nth-child(3) {
	justify-content: flex-start;
}

/* remaining scoreboard */

.board {
	display: flex;
	flex-direction: row;
	font-size: 14px;
	position: relative;
	margin-top: -90px;

	width: 100%;
	justify-content: center;

	border-radius: 16px;
}

.sb1,
.sb2 {
	display: flex;
	padding: 96px 26px 16px 26px;
	flex-direction: column;

	align-items: flex-start;

	align-self: stretch;

	height: inherit;

	border-radius: 16px 0px 0px 16px;
	border: 1px solid #000;
	width: 400px;
}

.sb1 > .tableEntry,
.sb2 > .tableEntry {
	margin-top: auto;
}

.sb2 {
	border-radius: 0px 16px 16px 0px;
}

.RG {
	background: var(--red-900, #63171b);
}
.PP {
	background: var(--purple-800, #44337a);
}
.BW {
	background: var(--blue-900, #304262);
}
.YB,
.YB1,
.YB2 {
	background: var(--yellow-900, #6d441c);
}

.death {
	background: linear-gradient(176deg, #fff -30.47%, #000 176.58%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	width: 7ch;
	font-weight: 500;
}

.tableHeader,
.tableEntry {
	display: flex;
	padding: 10px 8px;
	justify-content: flex-end;
	align-items: center;
	gap: 32px;
	align-self: stretch;
	text-align: right;

	border-bottom: 1px solid rgb(0, 0, 0, 0.25);
}

/* best performer */
@keyframes glowing {
	0% {
	}
	50% {
		text-shadow: 0 0 20px var(--chakra-colors-yellow-200);
	}
	100% {
	}
}

/* Apply the animation to the desired element */
.best > :nth-child(1),
.best > :nth-child(2) {
	animation: glowing 5s linear infinite;
	background-image: linear-gradient(to right, #e1c66e, #d09243);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.tableHeaderRight {
	flex-direction: row-reverse;
}

.tableHeaderRight > .death {
	text-align: left;
}

.tableEntryRight {
	justify-content: flex-start;
	text-align: left;
	flex-direction: row-reverse;
	border-bottom: 1px solid rgb(0, 0, 0, 0.25);
}

.tableHeaderRight > .points,
.tableHeaderRight > .rating,
.tableEntryRight > .rating {
	text-align: left;
}
/* for responsive design: */

@media (max-width: 768px) {
	.mainScore {
		padding-block: 20px;
		padding-inline: 0;
		width: max-content;
	}
	.mainScoreTitle {
		gap: 10px;
	}
	.mainScoreTitle > :nth-child(1),
	.mainScoreTitle > :nth-child(3) {
		display: flex;
		width: 11ch;
	}
	.mainScoreTitle > :nth-child(1) {
		justify-content: flex-end;
	}

	.mainScoreTitle > :nth-child(2) {
		width: 2ch;
	}

	.mainScoreTitle,
	.logo {
		display: flex;
		font-size: 16px;

		height: 100%;
	}
	.score {
		font-size: 20px;
	}

	.death,
	.tableHeader,
	.tableEntry {
		font-size: 10px;
		font-weight: 0;
		gap: 3%;
	}

	.tableEntry > :nth-child(1) {
		width: 7ch;
	}

	.death {
		width: 4ch;
	}

	.tableHeader > :nth-child(1) {
		display: none;
	}

	.sb1,
	.sb2 {
		padding: 96px 5px 5px 5px;
	}
}

.rating {
	width: 6ch;
}
.points {
	width: 3ch;
}
