.main {
  display: flex;
  gap: 64px;
  align-items: center;
}

/* first 3 children */
.main > :nth-child(-n + 3) {
  width: 168px;
}

.main > :nth-child(4) {
  width: 128px;
}
.main > :nth-child(5) {
  width: 50px;
}
