.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.usersBoard {
  margin-top: 1emn;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.header {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  gap: 64px;
}

.header > * {
  width: 168px;
}
