.NavBar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  border-bottom: var(--chakra-colors-gray-700) 1px solid;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
  padding-bottom: 16px;
  margin-block: 1em;
}
.menuIcon {
  display: none !important;
}

.navItemsWrapper {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  gap: 32px;
}
@media (max-width: 768px) {
  .NavBar {
    flex-direction: column;
    border-bottom: none;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: flex-start;
  }
  .NavBar > * {
    width: 100%;
  }
  .navItemsWrapper {
    gap: 8px;
    flex-direction: column;
    grid-row: 2;
    grid-column: 1/4;
    padding: 0 16px;
    transition: height 300ms ease-in-out;
    height: 100%;
  }
  .menuIcon {
    display: block !important;
  }
  .navItemsWrapper.close {
    height: 0;
  }
}
