.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
}

.main > * {
  width: 168px;
}

.first {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.last {
  display: flex;
  gap: 64px;
  flex-direction: row;
}
